
/* SHAPER */
/* https://hihayk.github.io/shaper/#Manrope,%20Sans Serif/1.32/0.96/1.43/0.71/1.53/0.5/161/100/50/0/0.62/2/false */
html {
  --text-xs: 12px;
  --text-sm: 16px;
  --text-md: 20px;
  --text-lg: 26px;
  --text-xl: 34px;

  --fontFamily: Manrope, sans-serif;

  --space-sm: 16px;
  --space-md: 24px;

  --input-height: 56px;
  --input-spacing: 14px;
  --input-padding: 12px;

  --c-background: #191919;
  --c-color: #FFFFFF;
  --c-colorSecondary: #cccccc;
  --c-accent: #00FFAF;
  --c-colorInverse: #191919;

  --border-radius: 0.625rem;
  --fieldBorderWidth: 2px;

  box-sizing: border-box;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

html[data-theme="light"] {
  --c-background: #FFFFFF;
  --c-color: #191919;
  --c-colorSecondary: #464646;
  --c-accent: #170ac6;
  --c-colorInverse: #FFFFFF;
}

.moon, .sun {
  border-radius: 50%;
  height: 16px;
  width: 16px;
  cursor: pointer;
}
html[data-theme="dark"] .moon {
  display: none;
}
html[data-theme="light"] .sun {
  display: none;
}

body {
  background-color: var(--c-background);
  color: var(--c-color);
  font-family: var(--fontFamily);
  margin: 0;
  padding: 0;
}

a, a:hover, a:focus, a:visited, a:active {
  color: var(--c-accent);
}

.fold {
  min-height: min(100vh, 1000px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.fold2, .fold3 {
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
  width: 650px;
  max-width: 100%;
}
.fold3 {
  text-align: center;
}
.no-minimum {
  min-height: unset;
  padding-top: 64px;
  padding-bottom: 64px;
}

/* MAIN SECTION */
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* TOP SECTION */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 100px;
}

.title {
  font-size: var(--text-xl);
  text-align: center;
}

/* FEATURES SECTION */
.features-ul {
  font-size: var(--text-sm);
  /* padding-left: 20px; */
}
.feature-li {
  list-style-image:url(/icons/double-tick.svg);
}

.feature-li h3 {
  margin-top: var(--space-sm);
  margin-bottom: 8px;
  font-size: var(--text-md);
  font-weight: 800;
}

.feature-li div {
  font-weight: var(--text-sm);
  opacity: 0.9;
}

.a2hs {
  transition: all 0.5s ease-in;
  /* opacity: 0.5; */
}

.a2hs-loaded {
  opacity: 1 !important;
  text-decoration: underline;
  color: var(--c-accent);
  cursor: pointer;
}

/* INPUT SECTION */
.wa-form .form-inputs {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.wa-form .form-inputs > * {
  border-radius: var(--border-radius);
  outline: none;
  flex-grow: 1;
  max-width: 350px;
}

.wa-form input[type="tel"],
.wa-form button[type="submit"] {
  padding: var(--input-padding);
  border-radius: var(--border-radius);
  border: var(--fieldBorderWidth) solid var(--c-accent);
  outline: none;
  font-size: var(--text-sm);
}

.intl-tel-input {
  width: 100%;
  user-select: unset;
  -moz-user-select: unset;
  -webkit-user-select: unset;
}

.flag-container, .country-list {
  color: #191919;
  font-size: var(--text-xs);
}

.country-list {
  /* -199px is the max-height of dropdown */
  top: -199px;
  border-radius: var(--border-radius);
}

.selected-flag:focus {
  outline-color: var(--c-accent);
  /* outline-color: invert; */
}

.selected-flag .arrow {
  display: none;
}

.wa-form input[type="tel"] {
  width: 100%;
}

.wa-form button[type="submit"] {
  background-color: var(--c-accent);
  color: var(--c-colorInverse);
  /* font-size: var(--text-md); */
  position: relative;
  transition: 0.1s ease-in;
  /* margin-left: var(--input-spacing); */
  flex-grow: 1;
  width: 100%;
  max-width: 250px;
  cursor: pointer;
}

.wa-form button[type="submit"]:focus,
.wa-form button[type="submit"]:hover {
  top: -1px;
}

.wa-form button[type="submit"]:active {
  top: 2px;
}

.show-error {
	-webkit-animation: vibrate-2 0.3s linear both;
	        animation: vibrate-2 0.3s linear both;
  border-color: rgb(255, 89, 66) !important;
}

#feedback-btn {
  color: var(--c-accent);
  cursor: pointer;
}

.usecases {
  margin: 0 -40px;
  max-width: 100vw;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.card {
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 16px);
  flex-grow: 1;
}
.card-title, .card-content {
  margin: 0;
  text-align: left;
}
.card-content {
  color: var(--c-colorSecondary);
}

.faq-block {
  border: 1px solid #aaa;
  border-bottom: none;
  padding: 1em;
  text-align: left;
}
.faq-block:first-of-type {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.faq-block:last-of-type {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid #aaa;
}

.faq-block summary {
  font-weight: bold;
  cursor: pointer;
  margin: -.5em -.5em 0;
  padding: .5em;
}

.faq-block[open] >  summary {
  margin-bottom: .5em;
}


footer {
  margin: 64px 0 40vh;
  font-size: 2em;
  text-align: center;
}
footer .mentions {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 24px;
  font-size: 14px;
  opacity: 0.6;
}

@media only screen and (min-device-width: 340px) {
  .error {
    justify-content: center;
  }
}

@media only screen and (max-device-width: 600px) {
  footer {
    font-size: 1.3em;
  }
  .usecases {
    text-align: left;
  }
  .cards-container {
    flex-direction: column;
  }
  .card {
    flex-basis: 100%;
  }
}

@media only screen and (max-device-height: 600px) {
  .logo {
    height: 56px;
  }

  .title {
    font-size: var(--text-lg);
    margin-top: 8px;
    margin-bottom: 16px;
  }
}

@media only screen and (min-device-height: 800px) and (min-device-width: 320px) {
  .feature-li h3 {
    margin-top: var(--space-md)
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-8-4 10:52:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-2
 * ----------------------------------------
 */
 @-webkit-keyframes vibrate-2 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  60% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes vibrate-2 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  60% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}