
/* SHAPER */
/* https://hihayk.github.io/shaper/#Manrope,%20Sans Serif/1.32/0.96/1.43/0.71/1.53/0.5/161/100/50/0/0.62/2/false */
html {
  --text-xs: 12px;
  --text-sm: 16px;
  --text-md: 20px;
  --text-lg: 26px;
  --text-xl: 34px;

  --fontFamily: Manrope, sans-serif;

  --space-sm: 16px;
  --space-md: 24px;

  --input-height: 56px;
  --input-spacing: 14px;
  --input-padding: 12px;

  --c-background: #191919;
  --c-body: #FFFFFF;
  --c-accent: #00FFAF;
  --c-buttonBg: #FFFFFF;

  --border-radius: 0.625rem;
  --fieldBorderWidth: 2px;
}

body {
  background-color: var(--c-background);
  color: var(--c-body);
  font-family: var(--fontFamily);
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: var(--space-sm);
  height: calc(100vh - 2*var(--space-sm));
}

#__next {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 650px;
}

a, a:hover, a:focus, a:visited, a:active {
  color: var(--c-accent);
}

/* FULL PAGE */
.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 1px;
}

/* MAIN SECTION */
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* TOP SECTION */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 100px;
}

.title {
  font-size: var(--text-xl);
  text-align: center;
  width: min-content;
  width: -webkit-min-content;
  width: -moz-min-content;
}

/* FEATURES SECTION */
.features-ul {
  font-size: var(--text-sm);
  /* padding-left: 20px; */
}
.feature-li {
  list-style-image:url(/icons/double-tick.svg);
}

.feature-li h3 {
  margin-top: var(--space-sm);
  margin-bottom: 8px;
  font-size: var(--text-md);
  font-weight: 800;
}

.feature-li div {
  font-weight: var(--text-sm);
  opacity: 0.9;
}

.a2hs {
  transition: all 0.5s ease-in;
  /* opacity: 0.5; */
}

.a2hs-loaded {
  opacity: 1 !important;
  text-decoration: underline;
  color: var(--c-accent);
  cursor: pointer;
}

/* INPUT SECTION */
.wa-form .form-inputs {
  display: flex;
  justify-content: center;
}

.wa-form .form-inputs > * {
  border-radius: var(--border-radius);
  outline: none;
}

.wa-form input[type="tel"],
.wa-form button[type="submit"] {
  padding: var(--input-padding);
  border-radius: var(--border-radius);
  border: var(--fieldBorderWidth) solid var(--c-accent);
  outline: none;
  font-size: var(--text-sm);
}

.intl-tel-input {
  flex-grow: 1;
}

.flag-container, .country-list {
  color: var(--c-background);
  font-size: var(--text-xs);
}

.country-list {
  /* -199px is the max-height of dropdown */
  top: -199px;
  border-radius: var(--border-radius);
}

.selected-flag:focus {
  outline-color: var(--c-accent);
  /* outline-color: invert; */
}

.selected-flag .arrow {
  display: none;
}

.wa-form input[type="tel"] {
  width: 100%;
}

.wa-form button[type="submit"] {
  min-width: 80px;
  background-color: var(--c-accent);
  /* font-size: var(--text-md); */
  position: relative;
  transition: 0.1s ease-in;
  margin-left: var(--input-spacing);
  flex-grow: 1;
  max-width: 100px;
  cursor: pointer;
}

.wa-form button[type="submit"]:focus,
.wa-form button[type="submit"]:hover {
  top: -1px;
}

.wa-form button[type="submit"]:active {
  top: 2px;
}

.error {
  display: flex;
  align-items: stretch;
  padding-left: 16px;
  font-size: var(--text-xs);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  justify-content: flex-end;
  color: deepskyblue;
  display: flex;
}

.error.visible {
  opacity: 1;
}

.error > * {
  display: inline-block;
}

.error > *:last-child  {
  position: relative;
  bottom: 6px;
  padding-left: 4px;
}

.error .arrow {
  transform: rotateZ(180deg);
}

/* FOOTER */
footer {
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: monospace;
}

.creds {
  text-align: center;
  font-size: var(--text-xs);
  opacity: 0.7;
}

.creds a {
  text-decoration: none;
}

.c-accent {
  color: var(--c-accent);
}

@media only screen and (min-device-width: 340px) {
  .error {
    justify-content: center;
  }
}

@media only screen and (max-device-height: 600px) {
  .logo {
    height: 56px;
  }

  .title {
    font-size: var(--text-lg);
    width: unset;
    margin-top: 8px;
    margin-bottom: 16px;
  }
}

@media only screen and (min-device-height: 800px) and (min-device-width: 320px) {
  .feature-li h3 {
    margin-top: var(--space-md)
  }

  /* footer {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
  } */
}